@tailwind base;
@tailwind components;
@tailwind utilities;



.about-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .about-container h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .about-container p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-container h2 {
    color: #333;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .about-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .about-container ul li {
    margin-bottom: 10px;
  }
  
  .about-container ul li a {
    color: #1a0dab;
    text-decoration: none;
  }
  
  .about-container ul li a:hover {
    text-decoration: underline;
  }
  